name: Ders Programı Botu

on:
  schedule:
    # GitHub UTC saatini kullanır. TSİ 08:00 için UTC 05:00 yazmalıyız.
    - cron: '0 5 * * 1-5' 
  workflow_dispatch: # İstediğin zaman manuel çalıştırmak için buton ekler

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Kodları Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yükle
        run: pip install requests

      - name: Botu Çalıştır
        run: python main.py
